# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.claude
.vscode
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Generated
public/audio-manifest.json

# Misc
.DS_Store
.fleet
.idea
.prettierrc.json

# Local env files
.env
.env.*
!.env.example